body
{
    background-color: pink;
}
h1
{
  font-style: 'Oswald', sans-serif;
  color: purple;  
  background-color: cornsilk;
}
#sketch
{
    float: right; 
}
#score
{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-left: 5px;
}
#timer
{
    float: right;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-right: 5px;
}
canvas 
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 100px;
    animation-iteration-count: infinite;
}